<div class="row">
  <div class="col-md-12">
    <br>
    <div class="row">
    <div class="col-md-3">   </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" style="color:green;margin-left:20px;">{{title}}</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button style="margin-left:40%;" class="btn btn-primary" (click)="submitFrm(title)">Apply</button>
        </div>
      </div>
    </div>
    <div class="col-md-3"> </div>
    </div>
  </div>
</div>

<div id="HideDiv">
<div class="row ">
    <div class="col-md-12">
      <br>
      <div class="row">
      <div class="col-md-3">   </div>
      <div class="col-md-6">
          <app-add-emp></app-add-emp>
      </div>
      <div class="col-md-3"> </div>
      </div>
    </div>
  </div>
</div>