#HideDiv{
    display: none;
}
#HideDiv.active{
    display: block;
}

@media only screen and (max-width: 768px) {
    .card{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: justify; 
        margin-top: 10%;
    }
  
    

}