
 .hq{
    position: relative;
    width:90%;
    padding-top:90%;
    /* margin-top: 30%; */
}

.hq .profile-pic{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-blend-mode: multiply;
    text-align: center;
    transition: all .3s ease;
    text-decoration: none;
    height: 80%;
    width: 80%;
    margin-top: 18%;
    margin-left: 15%;
    margin-bottom: 20%;
    background-size: cover;
    color: transparent;
    background-repeat: no-repeat;
    background-color: rgba(77, 17, 17, 0.356);  
}
.hq .profile-pic:hover {
    background-color: rgba(0,0,0,.5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
}
.profile-pic span {
    display: inline-block;
    padding-top:43%;
    /* background: aqua; */
}
#my_file {
    display: none;
}