<nav class="navbar navbar-toggleable-md">
  <button class="navbar-toggler navbar-inverse bg-inverse navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" ></span>
  </button>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="color:white" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:white" [routerLink]="['/aboutus']">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:white"  [routerLink]="['/new']">New</a>
      </li>
    </ul>
    <!-- <form class="ajax-form" id="contactForm" > -->
      <div *ngIf="!isLogin">
    <form class="form-inline my-2 my-lg-0" [formGroup]="myFrm" (ngSubmit)="onFrmSub()" novalidate >
      <input class="form-control mr-sm-2" type="text" placeholder="Username" formControlName="User">
      <input class="form-control mr-sm-2" type="text" placeholder="Password" formControlName="Pass">
      <input type="submit" value="Login" name="submit" class="btn btn-info">
    </form>
  </div>
  <div *ngIf="isLogin">
      
    <input type="submit" value="Logout" (click)="logout()" class="btn btn-info">
  </div>
  </div>
</nav>