<!-- <table>
  <thead>
      <tr>
          <th *ngFor="let key of keysArray; let i = index;">{{key}}</th>
      <tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of araylist1;">
          <td *ngFor="let key of keysArray;">{{item[key]}}</td>
      <tr>
  </tbody>
</table> -->










<div class="row">
  <div class="col-md-12">
    <div class="col-md-6 logo">
      <img src="../../assets/images/dev.png" alt="image not found">
    </div>
  </div>
</div>




<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-5">
        <img src="../../assets/images/fish.png" alt="">
      </div>

      <div class="col-md-7">
        <div class="row btop c">
          <img src="../../assets/images/app.png" alt="" [routerLink]= "['/mobileapp']">
        </div>
        <br>
        <div class="row">
          <div class="col-md-5 small1 adjust">
            <img src="../../assets/images/web.png" alt="">
          </div>
          <div class="col-md-6 small">
            <img src="../../assets/images/soft.png" alt="">
          </div>
        </div>
        <br>
        <div class="row btop c">

          <img src="../../assets/images/game.png" alt="">

        </div>
        <div class="row" class="tagline">
          <h3>Design, Develop And Maintain</h3>
        </div>
      </div>




    </div>
  </div>
</div>